.dub/
docs/
scod/
docs.json
__dummy.html
__test__*__
*.o
*.obj
*.lst
*.a

*.sublime-workspace

/tools/nwn-???/nwn-???
/tools/nwn-???/nwn-???.exe
/tools/nwn-???/nwn-???-test-*

/nwn-lib-d-benchmark
/nwn-lib-d-test-library
*.exe
*.lib
libnwn-d.*

# Generated with dub
source/nwn/ver.d
