.dub/
docs/
scod/
docs.json
__dummy.html
__test__*__
*.o
*.obj
*.lst
*.a

*.sublime-workspace

/tools/nwn-???/nwn-???
/tools/nwn-???/nwn-???.exe
/tools/nwn-???/nwn-???-test-*

*.exe
*.lib
libnwn-d.*

source/nwn/ver.d
